.scrollbarActive {
  height: 300px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #102130;
}
::-webkit-scrollbar-thumb {
  background: #375470;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.scrollbarPassive {
  height: 0px;
}

#searchPosition{
  position: relative;
  display: block;
}


#scrollbarSearch {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.2s;
  font-family: Oswald, sans-serif;
  letter-spacing: 0.5px;
  font-size: 18px;
  background: #102130;
  border-radius: 12px;

  .dropdownItemSearch{
    background-color: #375470;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    &:hover {
      cursor: pointer;
    }
  }
}

#searchFlex{
  flex-wrap: wrap;
  justify-content: center;
}

#imageWrapper{
  width: 225px;
  >img{
    width: 100%;
  }
}

.dropDownWrapper {
  position: relative;

  .dropdownBody {
    position: absolute;
    width: 100%;

    .dropdownHeader {
      background-color: #ff4654;
      color: white;
      padding: 10px 24px;
      border: none;
      cursor: pointer;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
    }

    .scrollbar {
      overflow-x: hidden;
      overflow-y: auto;
      transition: 0.2s;
    }

    font-family: Oswald, sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;
    background: #102130;
    border-radius: 12px;

    .dropdownItem {
      background-color: #375470;
      padding: 10px 20px;
      margin: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }

      > input {
        margin-right: 10px;
      }
    }
  }
}
.v-active {
  transform: rotate(180deg);
}
.activeFilters {
  transition: all 0.2s;
  display: flex;
  margin: 5% 0 0 0;
  grid-column: 1/5;
  align-items: center;
  h3 {
    margin: 0 2% 0 0;
  }
  button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    margin: 0 10px 0 0;
  }
}
.myinput[type="checkbox"]:before {
  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  content: "";
  background: #fff;
}
.myinput[type="checkbox"]:after {
  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 7px;
  height: 7px;
  border: 1px solid #fff;
  content: "";
  background-color: #375470ff;
}
.myinput {
  height: 22px;
  width: 22px;
}
.myinput[type="checkbox"]:before {
  width: 20px;
  height: 20px;
}
.myinput[type="checkbox"]:after {
  top: -20px;
  width: 16px;
  height: 16px;
}
.myinput[type="checkbox"]:checked:after {
  text-align: center;
  content: "X";
  color: white;
  background-color: #375470ff;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .dropDownWrapper {
    .dropdownBody {
      position: static;
      margin: 5% 0;
    }
  }
}
